{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="container">
            {% for fixture in fixtures %}
                <div class="fixture-card" onclick="video('{{ fixture.highlights }}')">
                    <div class="league-name">
                        <p>{{ fixture.league }}</p>
                    </div>
                    <div class="team-logos">
                        <div class="team-logo">
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                        </div>
                        <div class="team-logo">
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                        </div>
                    </div>
                    <div class="kickoff-time">
                        <p>{{ fixture.kickOff|date("F j, Y, g:i a") }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <script>
        function video(highlights) {
            const header = document.querySelector("header");

            header.classList.toggle ("hide-header");

            $.sweetModal({
                content: '<iframe width="660" height="415" src="'+highlights+'?&autoplay=1" title="YouTube Video Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="video-player"></iframe>',
                theme: $.sweetModal.THEME_DARK
            });

            const modalCloseButton = document.getElementsByClassName("sweet-modal-close-link");

            for (let i = 0; i < modalCloseButton.length; i++) {
                modalCloseButton[i].addEventListener("click", function() {
                    closeModal(header);
                });
            }
        }

        function closeModal(header) {
            header.classList.remove ("hide-header");
        }
    </script>
{% endblock %}