{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="container">
            {% for fixture in fixtures %}
                <div class="fixture-card">
                    <div class="league-name">
                        <p>{{ fixture.league }}</p>
                    </div>
                    <div class="team-logos">
                        <div class="team-logo">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.homeTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.svg') }}" alt="{{ fixture.homeTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                            {% endif %}
                        </div>
                        <div class="team-logo">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.awayTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.svg') }}" alt="{{ fixture.awayTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="kickoff-time">
                        <p>{{ fixture.kickOff|date("F j, Y, g:i a") }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}