{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="container">
            <div class="date-card">
                {{ "now"|date("F j") }}
            </div>
        </div>
        <div class="container">
            {% for fixture in fixturesToday %}
                {% if fixture.highlights != NULL %}
                    <div class="card" onclick="video('{{ fixture.highlights }}')">
                        <div class="team-logo">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.homeTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.svg') }}" alt="{{ fixture.homeTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                            {% endif %}
                        </div>
                        <div class="team-logo">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.awayTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.svg') }}" alt="{{ fixture.awayTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="team-logo-inactive">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.homeTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.svg') }}" alt="{{ fixture.homeTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                            {% endif %}
                        </div>
                        <div class="team-logo-inactive">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.awayTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.svg') }}" alt="{{ fixture.awayTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="container">
            <div class="date-card">
                {{ "now"|date_modify("-1 day")|date("F j") }}
            </div>
        </div>
        <div class="container">
            {% for fixture in fixturesYesterday %}
                {% if fixture.highlights != NULL %}
                    <div class="card" onclick="video('{{ fixture.highlights }}')">
                        <div class="team-logo">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.homeTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.svg') }}" alt="{{ fixture.homeTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                            {% endif %}
                        </div>
                        <div class="team-logo">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.awayTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.svg') }}" alt="{{ fixture.awayTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="team-logo-inactive">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.homeTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.svg') }}" alt="{{ fixture.homeTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                            {% endif %}
                        </div>
                        <div class="team-logo-inactive">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.awayTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.svg') }}" alt="{{ fixture.awayTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="container">
            <div class="date-card">
                {{ "now"|date_modify("-2 day")|date("F j") }}
            </div>
        </div>
        <div class="container">
            {% for fixture in fixturesTwoDaysAgo %}
                {% if fixture.highlights != NULL %}
                    <div class="card" onclick="video('{{ fixture.highlights }}')">
                        <div class="team-logo">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.homeTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.svg') }}" alt="{{ fixture.homeTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                            {% endif %}
                        </div>
                        <div class="team-logo">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.awayTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.svg') }}" alt="{{ fixture.awayTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="team-logo-inactive">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.homeTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.svg') }}" alt="{{ fixture.homeTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                            {% endif %}
                        </div>
                        <div class="team-logo-inactive">
                            {% if (fixture.league == 'Six Nations') or (fixture.league == 'Top 14') %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                            {% elseif fixture.league == 'Premiership Rugby' %}
                                {% if fixture.awayTeam == 'Newcastle Falcons' %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.svg') }}" alt="{{ fixture.awayTeam }}">
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <script>
        function video(highlights) {
            const header = document.querySelector("header");

            header.classList.toggle ("hide-header");

            $.sweetModal({
                content: '<iframe width="660" height="415" src="'+highlights+'?&autoplay=1" title="YouTube Video Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="video-player"></iframe>',
                theme: $.sweetModal.THEME_DARK
            });

            const modalCloseButton = document.getElementsByClassName("sweet-modal-close-link");

            for (let i = 0; i < modalCloseButton.length; i++) {
                modalCloseButton[i].addEventListener("click", function() {
                    closeModal(header);
                });
            }
        }

        function closeModal(header) {
            header.classList.remove ("hide-header");
        }
    </script>
{% endblock %}