{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="container">
            <div class="date-card">
                {{ "now"|date("F j") }}
            </div>
        </div>
        <div class="container">
            {% for fixture in fixturesToday %}
                {% if fixture.highlights != NULL %}
                    <div class="fixture-card" onclick="video('{{ fixture.highlights }}')">
                {% else %}
                    <div class="fixture-card">
                {% endif %}
                        <div class="league-name">
                            <p>{{ fixture.league }}</p>
                        </div>
                        <div class="team-logos">
                            <div class="team-logo">
                                {% if fixture.highlights != NULL %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}" class="inactive-fixture">
                                {% endif %}
                            </div>
                            <div class="team-logo">
                                {% if fixture.highlights != NULL %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                                {% else %}
                                    <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}" class="inactive-fixture">
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="date-card">
                {{ "now"|date_modify("-1 day")|date("F j") }}
            </div>
        </div>
        <div class="container">
            {% for fixture in fixturesYesterday %}
            {% if fixture.highlights != NULL %}
            <div class="fixture-card" onclick="video('{{ fixture.highlights }}')">
                {% else %}
                <div class="fixture-card">
                    {% endif %}
                    <div class="league-name">
                        <p>{{ fixture.league }}</p>
                    </div>
                    <div class="team-logos">
                        <div class="team-logo">
                            {% if fixture.highlights != NULL %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}" class="inactive-fixture">
                            {% endif %}
                        </div>
                        <div class="team-logo">
                            {% if fixture.highlights != NULL %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}" class="inactive-fixture">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="date-card">
                {{ "now"|date_modify("-2 day")|date("F j") }}
            </div>
        </div>
        <div class="container">
            {% for fixture in fixturesTwoDaysAgo %}
            {% if fixture.highlights != NULL %}
            <div class="fixture-card" onclick="video('{{ fixture.highlights }}')">
                {% else %}
                <div class="fixture-card">
                    {% endif %}
                    <div class="league-name">
                        <p>{{ fixture.league }}</p>
                    </div>
                    <div class="team-logos">
                        <div class="team-logo">
                            {% if fixture.highlights != NULL %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}" class="inactive-fixture">
                            {% endif %}
                        </div>
                        <div class="team-logo">
                            {% if fixture.highlights != NULL %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}" class="inactive-fixture">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="date-card">
                {{ "now"|date_modify("-3 day")|date("F j") }}
            </div>
        </div>
        <div class="container">
            {% for fixture in fixturesThreeDaysAgo %}
            {% if fixture.highlights != NULL %}
            <div class="fixture-card" onclick="video('{{ fixture.highlights }}')">
                {% else %}
                <div class="fixture-card">
                    {% endif %}
                    <div class="league-name">
                        <p>{{ fixture.league }}</p>
                    </div>
                    <div class="team-logos">
                        <div class="team-logo">
                            {% if fixture.highlights != NULL %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}" class="inactive-fixture">
                            {% endif %}
                        </div>
                        <div class="team-logo">
                            {% if fixture.highlights != NULL %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}" class="inactive-fixture">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="date-card">
                {{ "now"|date_modify("-4 day")|date("F j") }}
            </div>
        </div>
        <div class="container">
            {% for fixture in fixturesFourDaysAgo %}
            {% if fixture.highlights != NULL %}
            <div class="fixture-card" onclick="video('{{ fixture.highlights }}')">
                {% else %}
                <div class="fixture-card">
                    {% endif %}
                    <div class="league-name">
                        <p>{{ fixture.league }}</p>
                    </div>
                    <div class="team-logos">
                        <div class="team-logo">
                            {% if fixture.highlights != NULL %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}" class="inactive-fixture">
                            {% endif %}
                        </div>
                        <div class="team-logo">
                            {% if fixture.highlights != NULL %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                            {% else %}
                                <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}" class="inactive-fixture">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <script>
        function video(highlights) {
            const header = document.querySelector("header");

            header.classList.toggle ("hide-header");

            $.sweetModal({
                content: '<iframe width="660" height="415" src="'+highlights+'?&autoplay=1" title="YouTube Video Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="video-player"></iframe>',
                theme: $.sweetModal.THEME_DARK
            });

            const modalCloseButton = document.getElementsByClassName("sweet-modal-close-link");

            for (let i = 0; i < modalCloseButton.length; i++) {
                modalCloseButton[i].addEventListener("click", function() {
                    closeModal(header);
                });
            }
        }

        function closeModal(header) {
            header.classList.remove ("hide-header");
        }
    </script>
{% endblock %}