{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="date-card">
            {{ "now"|date("F j") }}
        </div>
    </div>
    <div class="container">
        {% for fixture in fixturesToday %}
            {% if fixture.highlights != NULL %}
                <div class="card" onclick="video('{{ fixture.highlights }}')">
                    <div class="team-logo">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                        {% endif %}
                    </div>
                    <div class="team-logo">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="team-logo-inactive">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                        {% endif %}
                    </div>
                    <div class="team-logo-inactive">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container">
        <div class="date-card">
            {{ "now"|date_modify("-1 day")|date("F j") }}
        </div>
    </div>
    <div class="container">
        {% for fixture in fixturesYesterday %}
            {% if fixture.highlights != NULL %}
                <div class="card" onclick="video('{{ fixture.highlights }}')">
                    <div class="team-logo">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                        {% endif %}
                    </div>
                    <div class="team-logo">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="team-logo-inactive">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                        {% endif %}
                    </div>
                    <div class="team-logo-inactive">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container">
        <div class="date-card">
            {{ "now"|date_modify("-2 day")|date("F j") }}
        </div>
    </div>
    <div class="container">
        {% for fixture in fixturesTwoDaysAgo %}
            {% if fixture.highlights != NULL %}
                <div class="card" onclick="video('{{ fixture.highlights }}')">
                    <div class="team-logo">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}">
                        {% endif %}
                    </div>
                    <div class="team-logo">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}">
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="team-logo-inactive">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.webp') }}" alt="{{ fixture.homeTeam }}" style="filter: grayscale(1)">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.homeTeam ~ '.png') }}" alt="{{ fixture.homeTeam }}" style="filter: grayscale(1)">
                        {% endif %}
                    </div>
                    <div class="team-logo-inactive">
                        {% if fixture.league == 'Six Nations' %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.webp') }}" alt="{{ fixture.awayTeam }}" style="filter: grayscale(1)">
                        {% else %}
                            <img src="{{ asset('/assets/img/' ~ fixture.awayTeam ~ '.png') }}" alt="{{ fixture.awayTeam }}" style="filter: grayscale(1)">
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <script>
        function video(highlights) {
            $.sweetModal({
                content: '<iframe width="660" height="415" src="'+highlights+'?&autoplay=1" title="YouTube Video Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="video-player"></iframe>',
                theme: $.sweetModal.THEME_DARK
            });
        }
    </script>
{% endblock %}